input,
select {
  padding: 0;
  margin: 0;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* color: #8a85ff; */
}
.form-currency {
  border-radius: 20px;
  background-color: #2f333b;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  padding-bottom: 1em;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.form-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.MuiFormControl-root > label {
  font-size: 14px;
}
.MuiInputBase-input {
  /* color: #8a85ff !important; */
  color: #fff !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid #8a85ff !important;
}
.MuiFormLabel-root {
  color: rgb(161, 161, 161) !important;
}
/* .form-block:nth-child(2) {
  justify-content: flex-end;
} */
.form-block > .mb-3 {
  padding: 1em;
}
.form-block > .plr-1 {
  display: flex;
  align-items: center;
}
.form-block__wrapper {
  transform: rotate(90deg);
}
.text-color {
  color: #8a85ff !important;
}
.btn-theme {
  outline: none !important;
}
.color-theme {
  background-color: #8a85ff !important;
}
.form-legend {
  text-align: left;
  padding: 1em 2em;
}
.form-legend > h2 {
  padding: 0;
}
.form-legend > p {
  padding: 0;
  font-size: 20px;
  color: #adadad;
}
.plr-1 {
  /* padding: 0 1em; */
}
.form-ua-convert {
  width: 100%;
}

/*CurrencyUAComponent*/
.mb-3 > .currency-text {
  margin: 0 30px 5px 6px;
  color: #ffffff;
  font-weight: bold;
}
.mb-3 {
  display: flex;
  align-items: flex-end;
}
.form-ua-convert > .form-currency > .form-wrapper {
  justify-content: space-around;
  padding-top: 1em;
}
.btnm-primary {
  border: none;
  color: #adadad;
  background-color: transparent;
  padding: 0.2em 1.8em;
  margin-right: 0.5em;
}
.btnm-primary:hover,
.btnm-primary:active,
.btnm-primary:focus,
.active-btn {
  outline: none;
  color: #fff;
  background-color: #40444f;
}
.form-legend > .form-block {
  justify-content: flex-start;
}
.one-rate-p {
  color: #adadad;
  font-size: 14px;
}
@media (max-width: 1024px) and (min-width: 320px) {
  .form-wrapper {
    flex-direction: column;
  }
  .form-block__wrapper {
    transform: rotate(0deg);
  }
  .form-foreign__wrapper > .form-block > .mb-3 {
    padding-bottom: 0 !important;
  }
  .form-block {
    justify-content: flex-start;
  }
  .form-container > .form-currency > .form-wrapper {
    padding: 1em;
  }
  .form-container > .form-currency > .form-wrapper .form-block:nth-child(2) {
    justify-content: flex-end;
  }
  .btnm-primary {
    padding: 0.2em 1.4em;
  }
  .mb-3 {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
