input,select{
    padding: 0;
    margin: 0;

}
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.form-wrapper{
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-block>.mb-3{
    padding: 1em;
}
.form-block>.form-block__wrapper{
    padding: 0 1em;
}